@charset "utf-8";

/* ======================================
work css
====================================== */
#illust {
    width: 100%;
    margin: 0 auto;
    padding: 12% 0 0;
}
#illust h1 {
    text-align: center;
    color: #658ee1;
    font-size: 11vw;
    margin-bottom: 2vw;
    font-family: 'Damion', cursive;
}
.fa-arrow-left {
    color: #658ee1;
    font-size: 14px;
    }
.fa-arrow-left:hover {
    color: #ffb7c5;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.illust-area {
    width: 100%;
    margin: 0 auto;
    padding: 12% 0 0;
    display: flex;
}
.illust-area-box {
    width: ;
}
.illust-box {
    width: 90%;
    position: relative;
    display: block;
    padding: 0 0 0;
    margin: 0 auto;
}
.illust-box .img-box {
    width: 100%;
}
.illust-box .img-box video {
    width: 100%;
}
.illust-box .img-box img {
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
    box-shadow:0px 0px 16px 4px #d4d4d4;
}


.illust-text {
    width: 90%;
    display: block;
    margin: 50px auto 0;
    line-height: 1.5;
    color: #555;
}
.illust-text h2 {
    color: #555;
    font-size: 14px;
    margin-bottom: 10px;
}
.illust-text p {
    font-size: 14px;
}
.illust-text span {
    padding: 2px 10px;
    display: inline-block;
    width: 88px;
    color: #658ee1;
    border: 1px #658ee1 solid;
    margin-right: 15px;
    margin-bottom: 2%;
    font-size: 12px;
    text-align: center;
}





@media screen and (max-width: 600px) {
    .illust-area {
        width: 95%;
        margin: 34% auto 0;
        padding: 0 0 0;
        display: block;
    }
    .illust-area h1 img {
        width: 60%;
        margin: 0 auto;
    }
    .illust-box {
        position: relative;
        display: block;
        margin: 0 auto;
        padding: 0 0 0;
    }
    .illust-box .img-box {
        width: 100%;
    }
    .illust-box {
        width: 90%;
    }
    .fa-arrow-left {
        font-size: 4vw;
    }
}