@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap');

/* ======================================
reset css
====================================== */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  text-decoration: none;
  }

/* ======================================
body footer css
====================================== */
html {
  width: 100%;
}
body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1;
}
footer {
  text-align: center;
  margin: 100px auto 20px;
  font-size: 10px;
  color: #555;
}
@media screen and (max-width: 767px) {
  body {
    /* background: linear-gradient( #bfc1ff, #b4f7f8); */
    
  }
}

/* ======================================
header css
====================================== */
#header {
  width: 100%;
  background: -moz-linear-gradient(65deg, #517bdf, #b09fea); 
  background: -webkit-linear-gradient(65deg, #517bdf, #b09fea); 
  background: linear-gradient(25deg, #517bdf, #b09fea); 
  padding: 1vw 0 1vw;
  list-style: none;
  margin-bottom: 50px;
  position: fixed;
  z-index: 10;
}
#header img {
  width: 100%;
  margin: 0 auto;
  display: block;
}
#header nav {
  margin: 0px auto;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
#header ul {
  display: -webkit-flex;
  display: flex;
  list-style: none;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background:transparent;
}
#header ul li {
  margin-top: 1%;
  margin-bottom: 0.5%;
}
#header ul li:first-child {
  margin-right: auto;
}
#header ul li:first-child a {
  margin-top: 0;
  font-family: 'Damion', cursive;
  margin: 0 auto;
  font-size: 4.4vw;
  letter-spacing: 0.06em;
  font-weight: 100;
}
#header ul li a {
  color: #fff;
  margin: 0px 1vw;
  padding: 0 10px;
  border-radius: 5px;
  display: block;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
#header ul li a:hover {
  color: #dbd1ff;
  opacity: 0.6;
  -webkit-transition: all .3s;
  transition: all .3s;
}
#header ul li a.active {
  color: #dbd1ff;
}
#header ul span {
  color: #fff;
  font-size: 10px;
  display: block;
  margin: 0 0 0 20%;
  text-align: center;
  letter-spacing: 0.2em;
}

@media screen and (max-width: 767px) {
  #header  {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 100;
    padding: 0;
    background:none;
  }
  #header nav {
    height: 9vh;
    background: -moz-linear-gradient(65deg, #517bdf, #b09fea);
    background: -webkit-linear-gradient(65deg, #517bdf, #b09fea);
    background: linear-gradient(25deg, #517bdf, #b09fea);
  }
  #header h1 {
    margin: 0 0 0 20px;
    width: 100%;
  }
  #header img {
    width: 50%;
  }
  #header a {
    display: block;
  }
  #header ul {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    background: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 980;
    display: none;
    padding: 24vw 0;
  }
  #header ul li {
    padding: 6vw;
    text-align: center;
  }
  #header ul li:nth-child(1) a {
    font-size: 12vw;
    letter-spacing: 0.06em;
  }
  #header  ul li a {
    display: block;
    font-weight: bold;
    background: transparent;
    margin: 0px;
    padding: 2vw 0 0;
    font-size: 6vw;
    letter-spacing: 0.16em;
  }
  #header ul li a:hover {
    opacity: 0.7;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  #header ul span {
    margin: 0 0 0 8%;
  }
  #header .nav__icon,
  #header .nav__icon span {
    display: none;
  }
  #header .nav__icon {
    width: 52px;
    height: 28px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
  }
  #header .nav__icon span {
    background: #fff;
    position: absolute;
    left: 0;
    height: 4px;
    border-radius: 4px;
  }
  #header.nav__icon span:nth-of-type(1) {
    top: 0;
  }
  #header .nav__icon span:nth-of-type(2) {
    top: 12px;
  }
  #header .nav__icon span:nth-of-type(3) {
    bottom: 0;
  }
  #header .nav__icon.active span:nth-of-type(1) {
    -webkit-transform: translateY(12px) rotate(-45deg);
    transform: translateY(12px) rotate(-45deg);
  }
  #header .nav__icon.active span:nth-of-type(2) {
    display: none;
  }
  #header  .nav__icon.active span:nth-of-type(3) {
    -webkit-transform: translateY(-12px) rotate(45deg);
    transform: translateY(-12px) rotate(45deg);
  }
  #header .nav__icon,
  #header .nav__icon span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    z-index: 999;
    position: absolute;
    right: 0;
  }
}


















/* ======================================
index css ここから
====================================== */
.color-bl {
  color: #658ee1;
}
.color-wh {
  color: #ffffff;
}
.top-profile-area h2, .top-work-area h2, .top-illust-area h2 {
  text-align: center;
  font-size: 5vw;
  margin-bottom: 8%;
  font-weight: 700;
  letter-spacing: 0.01em;
  font-family: 'Montserrat', sans-serif;
}
@media screen and (max-width: 767px) {
  .top-profile-area h2, .top-work-area h2, .top-illust-area h2 {
    font-size: 10vw;
  }
}

.movetext {
  opacity:0;
}
.movetext span {
  opacity:0;
}
#mv-top .top-title {
  background-image: url(/images/common/bg-pc.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 90%;
  height: 100vh;
}
#mv-top h1 {
  font-family: 'Damion', cursive;
  color: #fff;
  font-size: 13vw;
  padding: 10vw 0 0;
  margin: 0 auto;
  text-align: center;
}
#mv-top .name {
  font-family: 'Damion', cursive;
  color: #fff;
  font-size: 2.8vw;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.05em;
}
#mv-top #header {
  display: none;
}

.scroll-top {
  width: 30%;
  margin: 10% auto 0;
  display: block;
  padding-top: 120px;
  position: relative;
  color: #5d82e0;
  font-size: 12px;
  overflow : hidden;
  outline : none;
  text-align: center;
}
.scroll-top span {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid #3b43ffc2;
  border-bottom: 2px solid #3b43ffc2;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 1.5s infinite;
  animation: sdb 1.5s infinite;
  box-sizing: border-box;
}
.scroll-top span:active{
  color : none;
}
  @-webkit-keyframes sdb {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes sdb {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }





/* .menu {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.menu ul {
  display: flex;
  justify-content: center;
  margin: 70px 0 130px;
}
.menu li {
  width: 180px;
  font-size: 26px;
  font-family: 'Montserrat', sans-serif;
  color: #555;
  padding: 0 20px;
  letter-spacing: 0.1em;
}
.menu li a{
  color: #658ee1;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.menu li span{
  color: #648ee1;
  font-size: 10px;
  display: block;
  padding: 4px 0 0 30px;
}
.menu li a:hover{
  opacity: 0.5;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
} */
.back-link {
  width: 200px;
  position: relative;
}
.back-link a{
  position: absolute;
  top: -30px;
  left: 18%;
  margin: 16% 0 0 0;
  z-index: 1111;
  color: #789ce4;
  padding: 6% 8%;
}
.fa-user-circle:before, .fa-desktop:before, .fa-palette:before {
  margin-right: 6px;
  font-size: 22px;
  display: block;
  padding-bottom: 6px;
}





/* ======================================
index css ここまで
====================================== */


/* ======================================
profile css ここから
====================================== */
/* #profile {
  width: 100%;
  margin: 0 auto;
  padding: 12% 0 0;
}
#profile h1{
  text-align: center;
  color: #658ee1;
  font-size: 6vw;
  margin-bottom: 2vw;
  font-weight: 700;
  letter-spacing: 0.01em;
  font-family: 'Montserrat', sans-serif;
}
.profile-text {
  margin: 0 auto;
  letter-spacing: 0.05em;
  line-height: 1.5;
  font-size: 12px;
  width: 90%;
  text-align: justify;
}
.profile-text span {
  color: #658ee1;
  font-size: 22px;
  display: block;
  padding: 10px 0 10px;
  text-align: center;
  letter-spacing: 0.1em;
}
.skill-text {
  width: 90%;
  color: #658ee1;
  font-size: 14px;
  margin: 40px auto 0;
}
.skill-text ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.skill-text span {
  padding: 4px 10px;
  display: block;
  width: 80px;
  color: #658ee1;
  border: 1px #658ee1 solid;
  margin-right: 15px;
  font-size: 12px;
  text-align: center;
}
.skill-text  p {
  display: block;
  width: 80%;
  line-height: 1.4;
}
.fa-arrow-left {
  color: #658ee1;
  font-size: 14px;
} 

@media screen and (max-width: 767px) {
  #profile {
    padding: 0;
    margin: 28% 0 0;
  }
  #profile h1 {
    font-size: 14vw;
  }
  .skill-text ul li {
    align-items: flex-start;
  }
  .skill-text span {
    margin-top: 1%;
  }

} */

.top-profile-area {
  width: 80%;
  margin: 0 auto;
  padding: 10% 0 10%;
}
.top-profile-area .profile-text {
  width: 100%;
  margin: 0 auto;
  letter-spacing: 0.05em;
  line-height: 1.5;
  font-size: 12px;
  text-align: justify;
}
.top-profile-area .profile-text span {
  color: #658ee1;
  font-size: 22px;
  display: block;
  padding: 10px 0 10px;
  text-align: center;
  letter-spacing: 0.1em;
}
.top-profile-area .skill-text {
  width: 100%;
  color: #658ee1;
  font-size: 14px;
  margin: 40px auto 0;
}
.top-profile-area .skill-text ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.top-profile-area .skill-text span {
  padding: 4px 10px;
  display: block;
  width: 80px;
  color: #658ee1;
  border: 1px #658ee1 solid;
  margin-right: 15px;
  font-size: 12px;
  text-align: center;
}
.top-profile-area .skill-text  p {
  display: block;
  width: 80%;
  line-height: 1.4;
}
.top-profile-area .fa-arrow-left {
  color: #658ee1;
  font-size: 14px;
} 

@media screen and (max-width: 767px) {
  .top-profile-area {
    width: 90%;
    padding: 0;
    margin: 0 auto 10%;
  }
  .top-profile-area .profile-text span {
    font-size: 5vw;
  }
}


/* ======================================
works css ここから
====================================== */
.top-work-area {
  background: linear-gradient(-135deg, #56eee1, #558de0) fixed;
  padding: 10% 0 10%;
}
.top-work-area .inner {
  width: 80%;
  margin: 0 auto 4%;
}

#top-work-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#top-work-list li {
  width: calc(96% / 3);
  margin-bottom: 2%;
}
#top-work-list .wrapper {
	overflow:hidden;
	position: relative !important;
	cursor:pointer;
}
#top-work-list .wrapper a{
	display: block;
}
.top-work-box {
  overflow:hidden;
}
.top-work-box img {
	width:100%;
	position: relative;
	top:0;
  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:         all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);		
}	
.top-work-box .label {
	position: absolute;
	width: 100%;
	height:50px;
	bottom:-50px;
-webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
transition:         all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.top-work-box .label-bg {
	background: #517bdf;
	opacity: 0.7;
	width: 100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
}
.top-work-box .label-text {
	color:#fff;
	position: relative;
	z-index:500;
	padding:5px 8px;
}
.top-work-box .label-text p{
	margin: 4px 0;
	font-size: 12px;
}
.top-work-box .text-category {
	display:block;
  font-size:7px;
  text-align: 1.2;
}	
.top-work-box:hover .label {
	bottom:0;
}
.top-work-box:hover img {
	opacity: 0.3;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  cursor: pointer;
  filter: blur(1px);
}

@media screen and (max-width: 767px) {
  .top-work-area .inner{
    width: 90%;
  }
  #top-work-list li {
    width: calc(96% / 2);
    margin-bottom: 2%;
  }
}


/* ======================================
illust css ここから
====================================== */
.top-illust-area {
  padding: 10% 0 10%;
}
.top-illust-area .inner {
  width: 80%;
  margin: 0 auto 4%;
}
#top-illust-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#top-illust-list li {
  width: calc(96% / 4);
  margin-bottom: 2%;
}
#top-illust-list .wrapper {
	overflow:hidden;
	position: relative !important;
	cursor:pointer;
}
#top-illust-list .wrapper a{
	display: block;
}
.top-illust-box {
  overflow:hidden;
}
.top-illust-box img {
	width:100%;
	position: relative;
	top:0;
  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:         all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);		
}	
.top-illust-box .label {
	position: absolute;
	width: 100%;
	height:50px;
	bottom:-50px;
-webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
transition:         all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.top-illust-box .label-bg {
	background: #517bdf;
	opacity: 0.7;
	width: 100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
}
.top-illust-box .label-text {
	color:#fff;
	position: relative;
	z-index:500;
	padding:5px 8px;
}
.top-illust-box .label-text p{
	margin: 4px 0;
	font-size: 14px;
}
.top-illust-box .text-category {
	display:block;
	font-size:8px;
}	
.top-illust-box:hover .label {
	bottom:0;
}
.top-illust-box:hover img {
	opacity: 0.3;
  	-webkit-transform: scale(1.15);
  	transform: scale(1.15);
  	cursor: pointer;
  	filter: blur(1px);
}

@media screen and (max-width: 767px) {
  .top-illust-area .inner{
    width: 90%;
  }
  #top-illust-list li {
    width: calc(96% / 3);
    margin-bottom: 2%;
  }
  #top-illust-list li:last-child {
    display: none;
  }
}


/* ======================================
button css ここから
====================================== */
.btn {
  width: 30%;
  text-align: center;
  margin: 0 auto;
  padding: 2vw 6vw;
  border: none;
  font-size: 1.8vw;
  color: inherit;
  background: none;
  cursor: pointer;
  display: block;
  letter-spacing: 1px;
  font-weight: 700;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-1 {
  border: 1px solid #fff;
  color: #fff;
}
.btn-1a:hover,
.btn-1a:active {
	color: #658ee1;
  background: #fff;
}
.btn-2 {
  border: 1px solid #658ee1;
  color: #658ee1;
}
.btn-2a:hover,
.btn-2a:active {
	color: #fff;
  background: #658ee1;
}

@media screen and (max-width: 767px) {
  .btn {
    width: 40%;
    font-size: 3vw;
    padding: 4vw 6vw;
  }
}

/* ======================================
media screen ここから
====================================== */
@media screen and (max-width: 767px) {
#mv-top .top-title {
  background-image: url(/images/common/bg-sp.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 90%;
  height: 100vh;
}
#mv-top h1 {
  font-size: 24vw;
  padding: 10vw 0 2vw;
}
#mv-top .name {
  color: #fff;
  font-size: 6vw;
}
#logo {
  padding: 40vw 0 0;
  position: relative;
  background-image: url(/images/common/bg.png);
  background-size: cover;
}
.scroll-top {
  width: 30%;
  margin: 12% auto 0;
  display: block;
  padding-top: 120px;
  position: relative;
  color: #5d82e0;
  font-size: 4vw;
  overflow : hidden;
  outline : none;
  text-align: center;
}
.scroll-top span {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 3px solid #3b43ffc2;
  border-bottom: 3px solid #3b43ffc2;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 1.5s infinite;
  animation: sdb 1.5s infinite;
  box-sizing: border-box;
}
.scroll-top span:active{
  color : none;
}
  @-webkit-keyframes sdb {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes sdb {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
    .title-svg{
    width: 90%; 
    display: block;
    }
    .menu ul{
    width: 100%; 
    display: block;
    margin: 70vw 0 50vw;
    position: relative;
    }
    .menu li{
    width: 50%; 
    font-size: 7vw;
    margin: 10% auto 0;
    padding-left: 4%;
    }
    .menu li span  {
    padding-left: 4%;
    }
    .fa-user-circle:before, .fa-desktop:before, .fa-palette:before  {
    font-size: 5.6vw;
    }
    .back-link a{
      position: absolute;
      top: -70px;
      left: 0;
      margin: 6% 0 0 4%;
      z-index: 1111;
      color: #789ce4;
      padding: 6% 8%;
    }
}





