@charset "utf-8";

/* ======================================
reset css
====================================== */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  text-decoration: none;
  }

/* ======================================
body footer css
====================================== */
body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1;
}
footer {
  text-align: center;
  margin: 100px auto 20px;
  font-size: 10px;
  color: #555;
}

/* ======================================
nav-menu css
====================================== */
#header {
  width: 100%;
  background-color: #79AEE2;
  padding: 14px 0;
  list-style: none;
  margin-bottom: 50px;
  position: fixed;
  z-index: 10;
}
#header img {
  width: 40%;
  margin: 0 auto;
  display: block;
}
#header ul li a:hover {
  color: #ffb7c5;
  -webkit-transition: all .3s;
  transition: all .3s;
}
#header ul li a.active    {
  color: #ffb7c5;
}
#header nav {
  max-width: 1180px;
  height: 80px;
  margin: 0px auto;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
#header ul {
  display: -webkit-flex;
  display: flex;
  list-style: none;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background:transparent;
}
#header ul li a {
  color: #fff;
  margin: 0px 2vw;
  padding: 10px;
  border-radius: 5px;
}
#header ul span {
  color: #c4dcf5;
  font-size: 10px;
  display: block;
  margin-top: 6px;
  text-align: center;
  letter-spacing: 0.1em;
}
#header .nav__icon,
#header .nav__icon span {
  display: none;
}
#header .nav__icon {
  width: 66px;
  height: 28px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}
#header .nav__icon span {
  background: rgba(255, 255, 255, 1);
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
}
#header.nav__icon span:nth-of-type(1) {
  top: 0;
}
#header .nav__icon span:nth-of-type(2) {
  top: 12px;
}
#header .nav__icon span:nth-of-type(3) {
  bottom: 0;
}
#header .nav__icon.active span:nth-of-type(1) {
  -webkit-transform: translateY(12px) rotate(-45deg);
  transform: translateY(12px) rotate(-45deg);
}
#header .nav__icon.active span:nth-of-type(2) {
  display: none;
}
#header  .nav__icon.active span:nth-of-type(3) {
  -webkit-transform: translateY(-12px) rotate(45deg);
  transform: translateY(-12px) rotate(45deg);
}

@media screen and (max-width: 600px) {
  #header  {
    position: relative;
    z-index: 999;
    padding: 0 2%;
  }
  #header h1 {
    margin: 0 0 0 20px;
    width: 100%;
  }
  #header img {
    width: 50%;
  }
  #header a {
    display: block;
  }
  #header ul {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    background: rgba(0, 0, 0, .8);
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 980;
    display: none;
    padding: 24vw 0;
  }
  #header ul li {
    padding: 6vw;
    text-align: center;
  }
  #header  ul li a {
    display: block;
    font-weight: bold;
    background: transparent;
    margin: 0px;
    padding: 2vw 0 0;
    font-size: 6vw;
    letter-spacing: 0.16em;
  }
  #header ul li a:hover {
    color: #000;
    background: #fff;
  }
  #header .nav__icon,
  #header .nav__icon span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    z-index: 999;
  }
}


















/* ======================================
index css ここから
====================================== */
#logo {
  text-align: center;
  padding: 10vw 0;
  position: relative;
}
#logo img{
  position: absolute;
  width: 6%;
  max-width: 200px;
  top: 10%;
  right: 26%;
  animation: fuwafuwa 3s infinite;
}
.scroll-top {
  display: none;
}
.title-svg {
  width: 60vw;
  margin: 0 auto;
}
@keyframes fuwafuwa {
  0% { transform:translateY(0px); }
  50% { transform:translateY(50px); }
  100% { transform:translateY(  0px); }
}
.menu {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.menu ul {
  display: flex;
  justify-content: center;
  margin: 70px 0 130px;
}
.menu li {
  width: 130px;
  font-size: 24px;
  font-family: 'Noto Sans', sans-serif;
  color: #555;
  padding: 0 20px;
  letter-spacing: 0.02em;
}
.menu li a{
  color: #888;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.menu li span{
  color: #79AEE2;
  font-size: 10px;
  display: block;
  padding: 10px 0 0 0;
}
.menu li a:hover{
  color: #ffb7c5;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.fa-user-circle:before, .fa-desktop:before, .fa-palette:before {
  margin-right: 6px;
  font-size: 22px;
  display: block;
  padding-bottom: 6px;
}

/* ======================================
index css ここまで
====================================== */


/* ======================================
profile css ここから
====================================== */
#profile {
  width: 100%;
  margin: 0 auto;
  padding: 90px 0 0;
}
#profile h1 img{
  width: 24%;
  margin: 8% auto 0;
  display: block
}
.profile-text {
  margin: 0 auto;
  letter-spacing: 0.05em;
  line-height: 1.5;
  font-size: 12px;
  width: 80%;
  text-align: justify;
}
.profile-text span {
  color: #79AEE2;
  font-size: 24px;
  display: block;
  padding: 1vw 0 20px;
  text-align: center;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 600px) {
  #profile {
    padding: 0;
  }
  #profile h1 img{
    width: 60%;
    margin: 8% auto 0;
    display: block
  }

}


/* ======================================
media screen ここから
====================================== */
@media screen and (max-width: 600px) {
#logo {
  padding: 40vw 0 0;
  position: relative;
}
#logo img{
  position: absolute;
  width: 12%;
  top: 10%;
  right: 8%;
  animation: fuwafuwa 3s infinite;
}
.scroll-top {
  display: block;
  padding-top: 120px;
  position: relative;
  color: #79AEE2;
  font-size: 14px;
}
.scroll-top span {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #79AEE2;
  border-bottom: 1px solid #79AEE2;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 1.5s infinite;
  animation: sdb 1.5s infinite;
  box-sizing: border-box;
}
  @-webkit-keyframes sdb {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes sdb {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
    .title-svg{
    width: 90%; 
    display: block;
    }
    .menu ul{
    width: 100%; 
    display: block;
    margin: 70vw 0 50vw;
    background-color: #fff;
    position: relative;
    }
    .menu li{
    width: 50%; 
    font-size: 7vw;
    margin: 8% auto 0;
    padding-left: 4%;
    }
    .menu li span  {
    padding-left: 4%;
    }
    .fa-user-circle:before, .fa-desktop:before, .fa-palette:before  {
    font-size: 5.6vw;
    }  
}





