@charset "utf-8";

/* ======================================
reset css
====================================== */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  text-decoration: none;
  }

/* ======================================
body footer css
====================================== */
body {
  width: 100%;
  /* min-width: 960px; */
  margin: 0 auto;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1;
}
footer {
  text-align: center;
  margin: 100px auto 20px;
  font-size: 10px;
  color: #555;
}

/* ======================================
nav-menu css
====================================== */
#nav-menu {
  width: 100%;
  background-color: #79AEE2;
  padding: 14px 0;
  list-style: none;
  margin-bottom: 50px;
  position: fixed;
  z-index: 10;
}
#nav-menu ul {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background:transparent;
}
#nav-menu ul li:nth-child(n+2) {
  padding-top: 10px;
}
#nav-menu ul li a {
	padding: 0 15px;
  margin: 15px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.2em;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
#nav-menu ul li a:hover {
  color: #ffb7c5;
  -webkit-transition: all .3s;
  transition: all .3s;
}
#nav-menu ul li a.active    {
  color: #ffb7c5;
}
#nav-menu ul span {
  color: #c4dcf5;
    font-size: 10px;
    display: block;
    margin-top: 6px;
    text-align: center;
    letter-spacing: 0.1em;
}
.logo-menu img{
  width: 160px;
}

/* ======================================
index css ここから
====================================== */
#logo {
  text-align: center;
  padding: 10vw 0;
  position: relative;
}
#logo img{
  position: absolute;
  width: 6%;
  max-width: 200px;
  top: 10%;
  right: 26%;
  animation: fuwafuwa 3s infinite;
}
.title-svg {
  width: 60vw;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .title-svg{
     width: 90%; 
     display: block;
    }
}
@keyframes fuwafuwa {
  0% { transform:translateY(0px); }
  50% { transform:translateY(50px); }
  100% { transform:translateY(  0px); }
}
.menu {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.menu ul {
  display: flex;
  justify-content: center;
  margin-bottom: 130px;
}
@media screen and (max-width: 600px) {
  .menu ul{
     width: 100%; 
     display: block;
    }
}
.menu li {
  width: 130px;
  font-size: 24px;
  font-family: 'Noto Sans', sans-serif;
  color: #555;
  padding: 0 20px;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 600px) {
    .menu li{
      width: 40%; 
      font-size: 8vw;
      margin: 8% auto 0;
     }
}
.menu li a{
  color: #888;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.menu li span{
  color: #79AEE2;
  font-size: 10px;
  display: block;
  padding: 10px 0 0 0;
}
.menu li a:hover{
  color: #ffb7c5;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.fa-user-circle:before, .fa-desktop:before, .fa-palette:before {
  margin-right: 6px;
  font-size: 22px;
  display: block;
  padding-bottom: 6px;
}
@media screen and (max-width: 600px) {
  .fa-user-circle:before, .fa-desktop:before, .fa-palette:before  {
    margin-right: 10px;
    font-size: 7vw;
    }
}
/* ======================================
index css ここまで
====================================== */


/* ======================================
profile css ここから
====================================== */
#profile {
  width: 960px;
  margin: 0 auto;
  padding: 90px 0 0;
}
#profile h1 img{
  width: 250px;
  margin: 0 auto;
  display: block;
}
.profile-text {
  margin: 0 auto;
  letter-spacing: 0.05em;
  line-height: 1.5;
  font-size: 12px;
  width: 500px;
}
.profile-text span {
  color: #79AEE2;
  font-size: 24px;
  display: block;
  padding: 1vw 0 20px;
  text-align: center;
  letter-spacing: 0.1em;
}

