@charset "utf-8";

/* ======================================
work css
====================================== */
.fa-arrow-left {
    color: #658ee1;
    font-size: 14px;
    }
.fa-arrow-left:hover {
    color: #ffb7c5;
    -webkit-transition: all .3s;
    transition: all .3s;
}
#work {
    width: 100%;
    margin: 0 auto;
    padding: 12% 0 0;
}
#work h1 {
    text-align: center;
    color: #658ee1;
    font-size: 6vw;
    margin-bottom: 2vw;
    font-weight: 700;
    letter-spacing: 0.01em;
    font-family: 'Montserrat', sans-serif;
}

/* graphic */
.work-box {
    width: 90%;
    position: relative;
    display: block;
    padding: 70% 0 0;
    margin: 0 auto;
}
.box-shadow{
    
}
.work-box-deli {
    width: 90%;
    position: relative;
    display: block;
    padding: 70% 0 0;
    margin: 0 auto;
}
.work-box-deli .img-box {
    position: absolute;
    width: 70%;
    top: 10%;
    left: 0;
    z-index: 1
}
.work-box-deli .img-box img {
    width:100%;
    box-shadow:0px 0px 16px 4px #d4d4d4;   
}
.work-box-deli .img-box2 {
    position: absolute;
    width: 50%;
    top: 46%;
    right: 0%;
    z-index: 2;
}
.work-box-deli .img-box2 img {
    width:100%;
    box-shadow:0px 0px 16px 4px #d4d4d4;
}
.work-box-nmb, .work-box-mens {
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: block;    
}
.work-box-nmb .img-box, .work-box-mens .img-box{
    width: 80%;
    text-align: center;
    margin: 6% auto 0;
}
.work-box-nmb .img-box img, .work-box-mens .img-box img {
    width: 100%;
    box-shadow: 0px 0px 16px 4px #d4d4d4;
}
.work-box-spmake {
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: block;
    padding: 84% 0 0;
}
.work-box-spmake .img-box {
    position: absolute;
    width: 50%;
    top: 10%;
    left: 0;
    z-index: 1
}
.work-box-spmake .img-box img {
    width: 100%;
    box-shadow:0px 0px 16px 4px #d4d4d4;    
}
.work-box-spmake .img-box2 {
    position: absolute;
    width: 54%;
    top: 26%;
    left: 46%;
    z-index: 2;
}
.work-box-spmake .img-box2 img {
    width: 100%;
    box-shadow:0px 0px 16px 4px #d4d4d4;
}
.work-box-summake {
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: block;
    padding: 70% 0 0;
}
.work-box-summake .img-box {
    position: absolute;
    width: 68%;
    top: 10%;
    left: 0;
    z-index: 1
}
.work-box-summake .img-box img {
    width:100%;
    box-shadow:0px 0px 16px 4px #d4d4d4;
}
.work-box-summake .img-box2 {
    position: absolute;
    width: 32%;
    top: 40%;
    right: 6%;
    z-index: 2;
}
.work-box-summake .img-box2 img {
    width: 100%;
    box-shadow:0px 0px 16px 4px #d4d4d4;
}
.work-box-halloween {
    width: 90%;
    position: relative;
    display: block;
    padding: 70% 0 0;
    margin: 0 auto;
}
.work-box-halloween .img-box {
    position: absolute;
    width: 68%;
    top: 10%;
    left: 0;
    z-index: 1
}
.work-box-halloween .img-box img {
    width:100%;
    box-shadow:0px 0px 16px 4px #d4d4d4;
}
.work-box-halloween .img-box2 {
    position: absolute;
    width: 50%;
    top: 46%;
    right: 0%;
    z-index: 2;
}
.work-box-halloween .img-box2 img {
    width:100%;
    box-shadow:0px 0px 16px 4px #d4d4d4;
}
.work-box-girl {
    width: 90%;
    position: relative;
    display: block;
    padding: 70% 0 0;
    margin: 0 auto;
}
.work-box-girl .img-box {
    position: absolute;
    width: 70%;
    top: 10%;
    left: 0;
    z-index: 1
}
.work-box-girl .img-box img {
    width:100%;
    box-shadow:0px 0px 16px 4px #d4d4d4;
}
.work-box-girl .img-box2 {
    position: absolute;
    width: 50%;
    top: 46%;
    right: 0%;
    z-index: 2;
}
.work-box-girl .img-box2 img {
    width:100%;
    box-shadow:0px 0px 16px 4px #d4d4d4;
}
.work-box-aqa, .work-box-summerdm, .work-box-autumn, .work-box-gri {
    width: 90%;
    position: relative;
    display: block;
    padding: 70% 0 0;
    margin: 0 auto;
}
.work-box-aqa .img-box, .work-box-summerdm .img-box, .work-box-autumn .img-box, .work-box-gri .img-box {
    position: absolute;
    width: 66%;
    top: 10%;
    left: 0;
    z-index: 1
}
.work-box-aqa .img-box img, .work-box-summerdm .img-box img, .work-box-autumn .img-box img, .work-box-gri .img-box img {
    width:100%;
}
.work-box-aqa .img-box2, .work-box-summerdm .img-box2, .work-box-autumn .img-box2, .work-box-gri .img-box2 {
    position: absolute;
    width: 50%;
    top: 46%;
    right: 0%;
    z-index: 2;
}
.work-box-aqa .img-box2 img, .work-box-summerdm .img-box2 img, .work-box-autumn .img-box2 img, .work-box-gri .img-box2 img {
    width:100%;
    box-shadow:0px 0px 16px 4px #d4d4d4;
}
.work-box-sijou {
    width: 90%;
    position: relative;
    display: block;
    padding: 70% 0 0;
    margin: 0 auto;
}
.work-box-sijou .img-box {
    position: absolute;
    width: 74%;
    top: 10%;
    left: 0;
    z-index: 1
}
.work-box-sijou .img-box img {
    width:auto;
    max-width:100%;
    max-height:100%;
    box-shadow:0px 0px 16px 4px #d4d4d4;
}
.work-box-sijou .img-box2 {
    position: absolute;
    width: 50%;
    top: 40%;
    right: 0;
    z-index: 2;
}
.work-box-sijou .img-box2 img {
    width:auto;
    max-width:100%;
    max-height:100%;
    box-shadow:0px 0px 16px 4px #d4d4d4;
}




.work-text {
    width: 90%;
    display: block;
    margin: 50px auto 0;
    line-height: 1.5;
    color: #555;
}
.work-text li {
    display: flex;
}
.work-text li:nth-child(4) {
    margin-bottom: 10px;
}
.work-text h2 {
    color: #555;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 2px 10px;
    display: inline-block;
    width: 88px;
    height: 24px;
    color: #658ee1;
    border: 1px #658ee1 solid;
    margin-right: 15px;
    font-size: 12px;
    text-align: center;
}
.work-text .desc-text {
    width: 70%;
    word-wrap: break-word;
}
.work-text p {
    font-size: 14px;
    color: #555;
}

/* web */
.work-box-web {
    width: 960px;
    position: relative;
    display: block;
    margin: 0 auto;
}
.work-box-web .img-box {
    width: 90%;
    margin: 0 auto;
    top: 10%;
    left: 0;
}
.work-box-web .img-box img {
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}
.work-box-web .img-box2 {
    width: 90%;
    margin: 0 auto;
    top: 10%;
    left: 0;
    z-index: 1
}
.work-box-web .img-box2 img {
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
    border: 1px solid #555 ;
}




@media screen and (max-width: 600px) {
    #work {
        width: 95%;
        margin: 34% auto 0;
        padding: 0 0 0;
    }
    #work h1{
        font-size: 14vw;
        margin-bottom: 6vw;
    }
    .work-box {
        position: relative;
        display: block;
        margin: 0 auto;
        padding: 70% 0 0;
    }
    .work-box, .work-box-nmb, .work-box-mens, .work-box3, .work-box4, .work-box-web {
        width: 100%;
    }
    .work-box-aqa, .work-box-halloween, .work-box-sijou, .work-box-spmake, .work-box-deli, .work-box-summake,
    .work-box-girl, .work-box-summerdm, .work-box-autumn, .work-box-gri {
        width: 90%;
        position: relative;
        display: block;
        padding: 0% 0 0;
        margin: 10% auto 0;
    }
    .work-box-aqa .img-box, .work-box-halloween .img-box, .work-box-sijou .img-box, .work-box-spmake .img-box,
    .work-box-deli .img-box, .work-box-summake .img-box, .work-box-girl .img-box,
    .work-box-summerdm .img-box, .work-box-autumn .img-box, .work-box-gri .img-box {
        position: relative;
        width: 100%;
        margin-bottom: 6%;
    }
    .work-box-aqa .img-box img,
    .work-box-halloween .img-box img, .work-box-sijou .img-box img, .work-box-spmake .img-box img,
    .work-box-deli .img-box img, .work-box-summake .img-box img, .work-box-girl .img-box img,
    .work-box-summerdm .img-box img, .work-box-autumn .img-box img, .work-box-gri .img-box img {
        width:100%;
        box-shadow: none;
    }
    .work-box-aqa .img-box2,
    .work-box-halloween .img-box2, .work-box-sijou .img-box2, .work-box-spmake .img-box2,
    .work-box-deli .img-box2, .work-box-summake .img-box2, .work-box-girl .img-box2,
    .work-box-summerdm .img-box2, .work-box-autumn .img-box2, .work-box-gri .img-box2 {
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
    }
    .work-box-aqa .img-box2 img,
    .work-box-halloween .img-box2 img, .work-box-sijou .img-box2 img, .work-box-spmake .img-box2 img,
    .work-box-deli .img-box2 img, .work-box-summake .img-box2 img, .work-box-girl .img-box2 img,
    .work-box-summerdm .img-box2 img, .work-box-autumn .img-box2 img, .work-box-gri .img-box2 img {
        width:100%;
        box-shadow: none;
    }
    .work-box-nmb, .work-box-mens {
        width: 90%;
    }
    .work-box-nmb .img-box, .work-box-mens .img-box{
        width: 100%;
    }
    .work-box-nmb .img-box img, .work-box-mens .img-box img {
        width: 100%;
        box-shadow: none;
    }
    .fa-arrow-left {
        font-size: 4vw;
    }
}